<div class="row">

  <div>

    <div id="ui-view">



      <div class="row">

        <div class="pull-left col-xs-1"> <a href="/"><span class="back-triangle"></span></a></div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <ul class="cat">
            <li class="ab ab-visualarts categorylink"><a href="/Artist/Sub/visualarts">Visual Arts</a> </li>
            <li class="ab ab-music categorylink"><a href="/Artist/Sub/music">Music</a> </li>
            <li class="ab ab-Performance categorylink"><a href="/Artist/Sub/Performance">Performance</a> </li>
            <li class="ab ab-creativewriting categorylink"><a href="/Artist/Sub/creativewriting">Creative Writing</a> </li>
            <li class="ab ab-std categorylink"><a href="/Artist/AllArtists">All artists</a> </li>

          </ul>
        </div>
        <div class="hidden-xs col-sm-6 col-md-5 col-lg-5 ">
            <span class="categorylinkimage">
                <a href="/Artist/Sub/visualarts">
                  <img src="/Content/images/app/cat/1174-C.jpg?width=200" class="img-responsive image" alt="Visual Arts">
                </a>
            </span>
            <span class="categorylinkimage">
                <a href="/Artist/Sub/music">
                  <img src="/Content/images/app/cat/1175-C.jpg?width=200" class="img-responsive image" alt="Music">
                </a>
            </span>
            <span class="categorylinkimage">
                <a href="/Artist/Sub/Performance">
                  <img src="/Content/images/app/cat/1176-C.jpg?width=200" class="img-responsive image" alt="Performance">
                </a>
            </span>
            <span class="categorylinkimage">
                <a href="/Artist/Sub/creativewriting">
                  <img src="/Content/images/app/cat/1177-C.jpg?width=200" class="img-responsive image" alt="Creative Writing">
                </a>
            </span>


        </div>
      </div>
    </div>

  </div>
</div>
